<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pos.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
				<key>dateExpires</key>
				<string>10/01/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>8.58.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>8.58.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>19C360A563F4DB3228104EE6C339C83DF20EA39B</string>
						<key>dateExpires</key>
						<string>10/01/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ottu_checkout_sdk.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CMCQ4UHY9W</string>
						<key>name</key>
						<string>ABDULAZIZ ALSIBATE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CMCQ4UHY9W.com.fosshati.sa</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>CMCQ4UHY9W</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ac4c3e0b-a25b-4d53-9392-a6831ce0b3fe</string>
				<key>dateExpires</key>
				<string>10/01/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.fosshati.sa</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CMCQ4UHY9W</string>
				<key>name</key>
				<string>ABDULAZIZ ALSIBATE</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
